# EJERCICIOS

1. Importar las librerías necesarias para crear la conexión y trbajar con Pandas

In [36]:
pip install pandas as pd

Requirement already satisfied: pandas in /home/paosan/anaconda3/lib/python3.9/site-packages (1.3.4)
ERROR: Could not find a version that satisfies the requirement as (from versions: none)
ERROR: No matching distribution found for as
Note: you may need to restart the kernel to use updated packages.

In [1]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
pd.set_option("display.max_columns", None)
import numpy as np

2. Crear la conexión a la base de datos Northwind que devuelva un mensaje de error si algo no ocurre cómo debería

In [2]:
try:
  cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')
  if cnx.is_connected():
        print('Conexión exitosa.')
# en caso de que no lo consigas por que hay algún error entonces ...
except mysql.connector.Error as err:

  # si es un error con la contraseña devuelveme un mensaje de acceso denegado ya que tenemos problemas con la contraseña
  if err.errno == errorcode.ER_ACCESS_DENIED_ERROR:
    print("Something is wrong with your user name or password")
  
  # si el error no tiene que ver con la contraseña, puede ser porque la base de datos no exista, devuelveme un mensaje de que la base de datos no existe
  elif err.errno == errorcode.ER_BAD_DB_ERROR:
    print("Database does not exist")
  
  # si no es por ninguno de los errores anteriores, printeame cual es el error que estoy teniendo en mi conexión
  else:
    print(err)

Conexión exitosa.

3. Usando "information_schema", extraer los nombres de las columnas de la tabla "customers" de la BBDD "northwind".

In [3]:
# realizamos la conexión con la BBDD que queremos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='tienda')

# iniciamos el cursor                               
mycursor = cnx.cursor()

# query
mycursor.execute("SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_NAME = 'customers' AND TABLE_SCHEMA = 'northwind'")


for x in mycursor:
  print(x)

('address',)
('city',)
('company_name',)
('contact_name',)
('contact_title',)
('country',)
('customer_id',)
('fax',)
('phone',)
('postal_code',)
('region',)

4. Seleccionar todo de la tabla "customers" donde "country" sea "USA" o "Germany". Almacenar los resultados en una variable.

In [4]:
# realizamos la conexión con la BBDD que queremos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor                               
mycursor = cnx.cursor()

query = ("SELECT * FROM customers WHERE country = 'USA' or country = 'Germany'")

mycursor.execute(query)


for x in mycursor:
  print(x)

('ALFKI', 'Alfreds Futterkiste', 'Maria Anders', 'Sales Representative', 'Obere Str. 57', 'Berlin', '', '12209', 'Germany', '030-0074321', '030-0076545')
('BLAUS', 'Blauer See Delikatessen', 'Hanna Moos', 'Sales Representative', 'Forsterstr. 57', 'Mannheim', '', '68306', 'Germany', '0621-08460', '0621-08924')
('DRACD', 'Drachenblut Delikatessen', 'Sven Ottlieb', 'Order Administrator', 'Walserweg 21', 'Aachen', '', '52066', 'Germany', '0241-039123', '0241-059428')
('FRANK', 'Frankenversand', 'Peter Franken', 'Marketing Manager', 'Berliner Platz 43', 'M?nchen', '', '80805', 'Germany', '089-0877310', '089-0877451')
('GREAL', 'Great Lakes Food Market', 'Howard Snyder', 'Marketing Manager', '2732 Baker Blvd.', 'Eugene', 'OR', '97403', 'USA', '(503) 555-7555', '')
('HUNGC', 'Hungry Coyote Import Store', 'Yoshi Latimer', 'Sales Representative', 'City Center Plaza 516 Main St.', 'Elgin', 'OR', '97827', 'USA', '(503) 555-6874', '(503) 555-2376')
('KOENE', 'K?niglich Essen', 'Philip Cramer', 'Sales Associate', 'Maubelstr. 90', 'Brandenburg', '', '14776', 'Germany', '0555-09876', '')
('LAZYK', 'Lazy K Kountry Store', 'John Steel', 'Marketing Manager', '12 Orchestra Terrace', 'Walla Walla', 'WA', '99362', 'USA', '(509) 555-7969', '(509) 555-6221')
('LEHMS', 'Lehmanns Marktstand', 'Renate Messner', 'Sales Representative', 'Magazinweg 7', 'Frankfurt a.M.', '', '60528', 'Germany', '069-0245984', '069-0245874')
('LETSS', "Let's Stop N Shop", 'Jaime Yorres', 'Owner', '87 Polk St. Suite 5', 'San Francisco', 'CA', '94117', 'USA', '(415) 555-5938', '')
('LONEP', 'Lonesome Pine Restaurant', 'Fran Wilson', 'Sales Manager', '89 Chiaroscuro Rd.', 'Portland', 'OR', '97219', 'USA', '(503) 555-9573', '(503) 555-9646')
('MORGK', 'Morgenstern Gesundkost', 'Alexander Feuer', 'Marketing Assistant', 'Heerstr. 22', 'Leipzig', '', '04179', 'Germany', '0342-023176', '')
('OLDWO', 'Old World Delicatessen', 'Rene Phillips', 'Sales Representative', '2743 Bering St.', 'Anchorage', 'AK', '99508', 'USA', '(907) 555-7584', '(907) 555-2880')
('OTTIK', 'Ottilies K?seladen', 'Henriette Pfalzheim', 'Owner', 'Mehrheimerstr. 369', 'K?ln', '', '50739', 'Germany', '0221-0644327', '0221-0765721')
('QUICK', 'QUICK-Stop', 'Horst Kloss', 'Accounting Manager', 'Taucherstra?e 10', 'Cunewalde', '', '01307', 'Germany', '0372-035188', '')
('RATTC', 'Rattlesnake Canyon Grocery', 'Paula Wilson', 'Assistant Sales Representative', '2817 Milton Dr.', 'Albuquerque', 'NM', '87110', 'USA', '(505) 555-5939', '(505) 555-3620')
('SAVEA', 'Save-a-lot Markets', 'Jose Pavarotti', 'Sales Representative', '187 Suffolk Ln.', 'Boise', 'ID', '83720', 'USA', '(208) 555-8097', '')
('SPLIR', 'Split Rail Beer & Ale', 'Art Braunschweiger', 'Sales Manager', 'P.O. Box 555', 'Lander', 'WY', '82520', 'USA', '(307) 555-4680', '(307) 555-6525')
('THEBI', 'The Big Cheese', 'Liz Nixon', 'Marketing Manager', '89 Jefferson Way Suite 2', 'Portland', 'OR', '97201', 'USA', '(503) 555-3612', '')
('THECR', 'The Cracker Box', 'Liu Wong', 'Marketing Assistant', '55 Grizzly Peak Rd.', 'Butte', 'MT', '59801', 'USA', '(406) 555-5834', '(406) 555-8083')
('TOMSP', 'Toms Spezialit?ten', 'Karin Josephs', 'Marketing Manager', 'Luisenstr. 48', 'M?nster', '', '44087', 'Germany', '0251-031259', '0251-035695')
('TRAIH', "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', 'Sales Associate', '722 DaVinci Blvd.', 'Kirkland', 'WA', '98034', 'USA', '(206) 555-8257', '(206) 555-2174')
('WANDK', 'Die Wandernde Kuh', 'Rita M?ller', 'Sales Representative', 'Adenauerallee 900', 'Stuttgart', '', '70563', 'Germany', '0711-020361', '0711-035428')
('WHITC', 'White Clover Markets', 'Karl Jablonski', 'Owner', '305 - 14th Ave. S. Suite 3B', 'Seattle', 'WA', '98128', 'USA', '(206) 555-4112', '(206) 555-4115')

5. Convertir los resultados del ejercicio anterior en un Dataframe (no od olvidéis de poner el nombre a las columnas en el orden correcto).

In [6]:
# realizamos la conexión con la BBDD que queremos
cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1',
                              database='northwind')

# iniciamos el cursor                               
mycursor = cnx.cursor()

query = ("SELECT * FROM customers WHERE country = 'USA' or country = 'Germany'")

mycursor.execute(query)

# le decimos que nos devuelva todos los resultados y los almacenamos en una variable llamada myresult
resultado = mycursor.fetchall()

#Creamos un dataframe con los resultados de la consulta SQL almacenados en myresult. Si os fijais le estamos pasando un parámetro llamado "columns" donde estamos especificando cuáles son las columnas de lo que será nuestro dataframe
df_customers = pd.DataFrame(resultado, columns = ['customer_id', 'company_name', 'contact_name','contact_title','address','city','region','postal_code','country','phone','fax'])
#imprimo df

print(df_customers.to_string(index=False))

#Cerramos la conexion
cnx.close()

customer_id                      company_name        contact_name                  contact_title                        address           city region postal_code country          phone            fax
      ALFKI               Alfreds Futterkiste        Maria Anders           Sales Representative                  Obere Str. 57         Berlin              12209 Germany    030-0074321    030-0076545
      BLAUS           Blauer See Delikatessen          Hanna Moos           Sales Representative                 Forsterstr. 57       Mannheim              68306 Germany     0621-08460     0621-08924
      DRACD          Drachenblut Delikatessen        Sven Ottlieb            Order Administrator                   Walserweg 21         Aachen              52066 Germany    0241-039123    0241-059428
      FRANK                    Frankenversand       Peter Franken              Marketing Manager              Berliner Platz 43        M?nchen              80805 Germany    089-0877310    089-0877451
      GREAL           Great Lakes Food Market       Howard Snyder              Marketing Manager               2732 Baker Blvd.         Eugene     OR       97403     USA (503) 555-7555
      HUNGC        Hungry Coyote Import Store       Yoshi Latimer           Sales Representative City Center Plaza 516 Main St.          Elgin     OR       97827     USA (503) 555-6874 (503) 555-2376
      KOENE                   K?niglich Essen       Philip Cramer                Sales Associate                  Maubelstr. 90    Brandenburg              14776 Germany     0555-09876
      LAZYK              Lazy K Kountry Store          John Steel              Marketing Manager           12 Orchestra Terrace    Walla Walla     WA       99362     USA (509) 555-7969 (509) 555-6221
      LEHMS               Lehmanns Marktstand      Renate Messner           Sales Representative                   Magazinweg 7 Frankfurt a.M.              60528 Germany    069-0245984    069-0245874
      LETSS                 Let's Stop N Shop        Jaime Yorres                          Owner            87 Polk St. Suite 5  San Francisco     CA       94117     USA (415) 555-5938
      LONEP          Lonesome Pine Restaurant         Fran Wilson                  Sales Manager             89 Chiaroscuro Rd.       Portland     OR       97219     USA (503) 555-9573 (503) 555-9646
      MORGK            Morgenstern Gesundkost     Alexander Feuer            Marketing Assistant                    Heerstr. 22        Leipzig              04179 Germany    0342-023176
      OLDWO            Old World Delicatessen       Rene Phillips           Sales Representative                2743 Bering St.      Anchorage     AK       99508     USA (907) 555-7584 (907) 555-2880
      OTTIK                Ottilies K?seladen Henriette Pfalzheim                          Owner             Mehrheimerstr. 369           K?ln              50739 Germany   0221-0644327   0221-0765721
      QUICK                        QUICK-Stop         Horst Kloss             Accounting Manager               Taucherstra?e 10      Cunewalde              01307 Germany    0372-035188
      RATTC        Rattlesnake Canyon Grocery        Paula Wilson Assistant Sales Representative                2817 Milton Dr.    Albuquerque     NM       87110     USA (505) 555-5939 (505) 555-3620
      SAVEA                Save-a-lot Markets      Jose Pavarotti           Sales Representative                187 Suffolk Ln.          Boise     ID       83720     USA (208) 555-8097
      SPLIR             Split Rail Beer & Ale  Art Braunschweiger                  Sales Manager                   P.O. Box 555         Lander     WY       82520     USA (307) 555-4680 (307) 555-6525
      THEBI                    The Big Cheese           Liz Nixon              Marketing Manager       89 Jefferson Way Suite 2       Portland     OR       97201     USA (503) 555-3612
      THECR                   The Cracker Box            Liu Wong            Marketing Assistant            55 Grizzly Peak Rd.          Butte     MT       59801     USA (406) 555-5834 (406) 555-8083
      TOMSP                Toms Spezialit?ten       Karin Josephs              Marketing Manager                  Luisenstr. 48        M?nster              44087 Germany    0251-031259    0251-035695
      TRAIH Trail's Head Gourmet Provisioners      Helvetius Nagy                Sales Associate              722 DaVinci Blvd.       Kirkland     WA       98034     USA (206) 555-8257 (206) 555-2174
      WANDK                 Die Wandernde Kuh         Rita M?ller           Sales Representative              Adenauerallee 900      Stuttgart              70563 Germany    0711-020361    0711-035428
      WHITC              White Clover Markets      Karl Jablonski                          Owner    305 - 14th Ave. S. Suite 3B        Seattle     WA       98128     USA (206) 555-4112 (206) 555-4115

6. Muestra las 10 primeras filas del Dataframe y las 10 últimas

In [10]:
df_customers.head(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
0,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,,12209,Germany,030-0074321,030-0076545
1,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,,68306,Germany,0621-08460,0621-08924
2,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,,52066,Germany,0241-039123,0241-059428
3,FRANK,Frankenversand,Peter Franken,Marketing Manager,Berliner Platz 43,M?nchen,,80805,Germany,089-0877310,089-0877451
4,GREAL,Great Lakes Food Market,Howard Snyder,Marketing Manager,2732 Baker Blvd.,Eugene,OR,97403,USA,(503) 555-7555,
5,HUNGC,Hungry Coyote Import Store,Yoshi Latimer,Sales Representative,City Center Plaza 516 Main St.,Elgin,OR,97827,USA,(503) 555-6874,(503) 555-2376
6,KOENE,K?niglich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,,14776,Germany,0555-09876,
7,LAZYK,Lazy K Kountry Store,John Steel,Marketing Manager,12 Orchestra Terrace,Walla Walla,WA,99362,USA,(509) 555-7969,(509) 555-6221
8,LEHMS,Lehmanns Marktstand,Renate Messner,Sales Representative,Magazinweg 7,Frankfurt a.M.,,60528,Germany,069-0245984,069-0245874
9,LETSS,Let's Stop N Shop,Jaime Yorres,Owner,87 Polk St. Suite 5,San Francisco,CA,94117,USA,(415) 555-5938,

In [11]:
df_customers.tail(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
14,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstra?e 10,Cunewalde,,01307,Germany,0372-035188,
15,RATTC,Rattlesnake Canyon Grocery,Paula Wilson,Assistant Sales Representative,2817 Milton Dr.,Albuquerque,NM,87110,USA,(505) 555-5939,(505) 555-3620
16,SAVEA,Save-a-lot Markets,Jose Pavarotti,Sales Representative,187 Suffolk Ln.,Boise,ID,83720,USA,(208) 555-8097,
17,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
18,THEBI,The Big Cheese,Liz Nixon,Marketing Manager,89 Jefferson Way Suite 2,Portland,OR,97201,USA,(503) 555-3612,
19,THECR,The Cracker Box,Liu Wong,Marketing Assistant,55 Grizzly Peak Rd.,Butte,MT,59801,USA,(406) 555-5834,(406) 555-8083
20,TOMSP,Toms Spezialit?ten,Karin Josephs,Marketing Manager,Luisenstr. 48,M?nster,,44087,Germany,0251-031259,0251-035695
21,TRAIH,Trail's Head Gourmet Provisioners,Helvetius Nagy,Sales Associate,722 DaVinci Blvd.,Kirkland,WA,98034,USA,(206) 555-8257,(206) 555-2174
22,WANDK,Die Wandernde Kuh,Rita M?ller,Sales Representative,Adenauerallee 900,Stuttgart,,70563,Germany,0711-020361,0711-035428
23,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115


7. Mostrar 5 filas aleatorias del Dataframe.

In [12]:
df_customers.sample(5)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax
20,TOMSP,Toms Spezialit?ten,Karin Josephs,Marketing Manager,Luisenstr. 48,M?nster,,44087,Germany,0251-031259,0251-035695
18,THEBI,The Big Cheese,Liz Nixon,Marketing Manager,89 Jefferson Way Suite 2,Portland,OR,97201,USA,(503) 555-3612,
17,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
15,RATTC,Rattlesnake Canyon Grocery,Paula Wilson,Assistant Sales Representative,2817 Milton Dr.,Albuquerque,NM,87110,USA,(505) 555-5939,(505) 555-3620
23,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115

8. ¿Hay nulos en el Dataframe? El resultado debe verse para cada una de las columnas

In [14]:
df_customers.isnull().sum()

customer_id      0
company_name     0
contact_name     0
contact_title    0
address          0
city             0
region           0
postal_code      0
country          0
phone            0
fax              0
dtype: int64

9. Mostrar los principales estadísticos.

In [18]:
df_customers.describe(include='object').T

              count unique                   top freq
customer_id      24     24                 ALFKI    1
company_name     24     24   Alfreds Futterkiste    1
contact_name     24     24          Maria Anders    1
contact_title    24      9  Sales Representative    7
address          24     24         Obere Str. 57    1
city             24     23              Portland    2
region           24      9                         11
postal_code      24     24                 12209    1
country          24      2                   USA   13
phone            24     24           030-0074321    1
fax              24     18                          7

10. Mostrar el nombre de las columnas del Dataframe

In [20]:
df_customers.columns

Index(['customer_id', 'company_name', 'contact_name', 'contact_title',
       'address', 'city', 'region', 'postal_code', 'country', 'phone', 'fax'],
      dtype='object')